/*==================================
Colors -----------------------------
     1.brandColor:       #FF7901
     2.lightColor:       #FFFFFF
     3.darkColor:        #000000
     4.grayColor:        #7D7D7E
     5.redColor:         #FF5E5E
     6.bgColor:          #FCFBFF
     7.textColor:        #26262E
     8.inoutBoxColor:    #BDBDBD
     9.cardBackground:   #F2F2F4
     10.iconBackground:  #FFD7D7

Fonts -----------------------------
     1.typography:       poppins
==================================*/

* {
     margin: 0;
     padding: 0;
}

@font-face {
     font-family: poppins;
     src: url("../fonts/Poppins-Medium.ttf");
}

/* Layout Design */
.dashboard {
     display: flex;
     justify-content: space-between;
     height: 100vh;
     overflow-y: hidden;
}

.sideNav {
     background: #000000;
     padding: 11px 0 11px 42px;
     height: 100vh;
}

.mainBody {
     display: block;
     height: 100vh;
}

.header {
     height: 90px;
     background: #000000;
     padding: 15px 30px;
     position: sticky;
}

.bodyContent {
     background: #FCFBFF;
     overflow-y: scroll;
     height: calc(100vh - 160px);
}

/* SideNav Design Start */
.navList{
     margin-top: 48px;
     height: calc(100vh - 132px);
     overflow-y: scroll;
}

.subNavList{
     margin-top: 30px;
     margin-left: 10px;
}

.listItem{
     margin-top: 30px;
     display: flex;
     justify-content: start;
     gap: 22px;
}

.listItem:hover,
.listItem.active{
     border-inline-end: 3px solid #ff7901;
}

.listItem.active .menuName,
.listItem:hover .menuName{
     color: #FFFFFF;
}

.listItem:hover img,
.listItem.active img{
     filter: invert(13%) sepia(10%) saturate(7466%) hue-rotate(0deg) brightness(104%) contrast(156%);
}

.menuName{
     font-family: 'poppins';
     font-style: normal;
     font-weight: 500;
     color: #7D7D7E;
     text-decoration: none;
}

/* Header Design Start */
.headerMenu{
     float: right;
     position: absolute;
     right: 30px;
}
.balanceInquery{
     float: left;
     margin: 30px 15px auto 0;
     font-family: 'poppins';
     font-weight: 300;
     line-height: 30px;
     color: #FFFFFF;
}

.mainBalance{
     font-family: 'Poppins';
     font-weight: 500;
     line-height: 30px;
     color: #FF7901;
}
/* dropdownstyle */
.dropdown {
     float: right;
     margin: 15px 0px auto 15px;
     transition: all 0.2s ease-in-out;
     overflow: hidden;
     cursor: pointer;
}

.dropdownContent {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-radius: 45px;
     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
     background: #FFFFFF;
     padding: 10px;
     z-index:9999999;
     position: relative;
}

.dropdownAvater{
     width: 40px;
}

.userName{
     font-family: 'Poppins';
     font-weight: 500;
     color: #26262E;
}

.dropdownIcon{
     width: 12px;
     height: 6px;
}

.dropdownMenuList{
     height: 255px;
     padding: 0 20px;
     border-radius: 0 0 30px 30px;
}


.dropdownMenuList ul{
     margin: 0;
     padding: 0;
     list-style-type: none;
}

.dropdown.closed .dropdownMenuList{
     height: 0px;
     display: none;
}

.openMargin{
     margin-top: -30px;
     padding-top: 30px;
     background-color: #FFFFFF;
     z-index: 0;
     border: 1px solid #F2F2F4;
     border-top: none;
}

.dropdown.closed .openMargin{
     margin-top: 0px;
}

.dropdownMenuItem {
     color: #7D7D7E;
     font-family: 'Poppins';
     font-weight: 500;
     line-height: 30px;
     margin: 10px 0px;
}

.dropdown.closed .dropdownIcon {
     transform: rotate(180deg);
}


.logoutBtn{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 9px;
     height: 48px;
     font-family: 'Poppins';
     font-weight: 500;
     color: #FF5E5E;
     background: rgba(255, 1, 1, 0.1);
     border: 0px;
     border-radius: 5px;
}

/* bodyContent design start */

.profileInfo,
.cardSection .allCards{
     width: 100%;
}

.aboutUser{
     background: #FFFFFF;
     border: 1px solid #F2F2F4;
     border-radius: 10px;
}

.userAvater{
     margin: 0 auto;
     display: block;
}

.userInfo{
     text-align: center;
}

.userInfo p{
     font-family: 'Poppins';
     font-weight: 400;
     line-height: 20px;
     color: #7D7D7E;
}

.cardSection{
     background: #FFFFFF;
     border: 1px solid #F2F2F4;
     border-radius: 10px;
}

.sectionTitle{
     font-family: 'Poppins';
     font-weight: 500;
     line-height: 30px;
}

.allCards{
     margin-top: 10px;
}

.singleCard{
     border: 1px solid #F2F2F4;
     border-radius: 10px;
     padding: 30px;
}

.singleCard:hover{
     border: 1px solid #FF7901;
     cursor: pointer
}

.cardAction{
     width: 30px;
     height: 30px;
     float: right;
     margin-top: -20px;
     margin-right: -20px;
     background-color: #F2F2F4;
     border-radius: 50px;
     border: none;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
}

.cardName{
     font-family: 'Poppins';
     font-weight: 500;
     line-height: 32px;
     color: #7D7D7E;
}

.cardNumber{
     font-family: 'Poppins';
     font-weight: 500; 
     line-height: 32px;
     color: #BDBDBD;
     margin-top: 30px;
}

.singleCard:hover .cardAction{
     background-color: #FFD7D7
}

.singleCard:hover .cardAction>img{
     filter: invert(13%) sepia(94%) saturate(7466%) hue-rotate(0deg) brightness(94%) contrast(115%);
}

.singleCard:hover .cardName,
.singleCard:hover .cardNumber{
     color: #26262E;
}

/* Tab Design Start */
.profileInfoTab {
     background-color: #FFFFFF;
     border: 1px solid #F2F2F4;
     border-radius: 10px;
}

.profileInfoTab > .tabName {
     width: 100%;
     list-style-type: none;
     border-bottom: 2px solid #F2F2F4;
     display: flex;
     justify-content: center;
}

.profileInfoTab > .tabName > li {
     padding: 30px 0 8px 0;
}
.profileInfoTab > .tabName > li > a {
     font-family: 'Poppins';
     font-weight: 500;
     line-height: 28px;
     padding: 10px 16px;
     text-decoration: none;
     color: #26262E;
}

.profileInfoTab > .tabName > li > a:hover {
     border-bottom: 2px solid #FF7901;
     border-radius: 10px 10px 0px 0px;
}

.profileInfoTab > .tabName > li.active > a,
.profileInfoTab > .tabName > li.active > a:hover,
.profileInfoTab > .tabName > li.active > a:focus {
     color: #FF7901;
     background-color: transparent;
     border: none;
     border-bottom: 2px solid #FF7901;
     border-radius: 10px 10px 0px 0px;
}

.profileInfoTab > .tabContent {
     width: 100%;
}

.profileInfoTab > .tabContent > .tabData {
     display: none;
}

.profileInfoTab > .tabContent > .tabData.active {
     display: block;
     background-color: #FFFFFF;
}

.profileInfoTab > .tabContent > .active {
     display: block;
}

.checkedAction{
     display: flex;
     flex-direction: column;
     gap: 32px;
}

.singleLabel{
     display: flex;
     align-items: center;
     gap: 20px;
}

/* Switch Design Start */
.switchLabel{
     padding: 0 4px;
     border-radius: 50px;
     cursor: pointer;
     display: flex;
     align-items: center;
}

.switchLabelPreBack{
     bbackground-color: #FFFFFF;
     border: 1px solid #FF7901;
}

.switchLabelPostBack{
     background-color: #FF7901;
     border: 1px solid #FF7901
}

.switchBox{
     border-radius:50px;
     transition-property: all;
     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
     transition-duration: 700ms;
}

.switchBoxPreBack{
     background-color: #FF7901;
}

.switchBoxPostBack{
     background-color: #FFFFFF;
}

.switchInput{
     display: none;
}

.switchInput:checked + .switchBox {
     margin-left: 25px;
}

.switchBox:hover {
     box-shadow: 0px 0px 0 8px #0e528933;
}

.labelData{
     font-family: 'Poppins';
     font-weight: 500;
     line-height: 32px;
     color: #26262E;
}

.uncheckedSwitchLabel{
     color: #7D7D7E;
}

hr.divider{
     border-top: 1px solid #F2F2F4;
}

.lowCreditSection{
     display: flex;
     justify-content: space-between;
     gap: 30px;
     margin-left: 70px;
}

.lowCreditInput{
     width: 50%;
     display: flex;
     flex-direction: column;
}

.lowCreditInput label{
     font-family: 'Poppins';
     font-weight: 500;
     line-height: 32px;
     color: #7D7D7E;
}

.lowCreditInput label span{
     color: #FF7901
}

.lowCreditInput input{
     padding: 14px 20px;
     background: #FFFFFF;
     border: 1px solid #F2F2F4;
     border-radius: 10px;
}

.lowCreditInput input::placeholder{
     font-family: 'Poppins';
     font-weight: 400;
     line-height: 32px;
     color: #BDBDBD;
}

.saveBtn{
     width: 150px;
     height: 48px;
     color: #FFFFFF;
     background: #FF7901;
     font-family: 'Poppins';
     font-weight: 500;
     line-height: 28px;
     border-radius: 5px;
     box-shadow: 0px 20px 50px rgba(255, 121, 1, 0.3);
     border: none;
}



/* Selector and scrolbar design */

::selection {
     background-color: #7D7D7E;
     color: #FFEBEC;
}
   
/* Scroll bar */
body {
     overflow-y: auto;
}

::-webkit-scrollbar {
     width: 8px;
     height: 8px;
     margin: 0px 2px;
}

::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px #fff;
     -webkit-box-shadow: inset 0 0 5px #fff;
     border-radius: 5px;
}

::-webkit-scrollbar-thumb {
     background: #FF7901 !important;
     -webkit-background: #FF7901 !important;
     border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
     background: #7D7D7E !important;
     -webkit-background: #7D7D7E !important;
}